<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mob Programming Timer</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body class="root">
    <div class="circle-timer">
        <h1 id="timer-text">00:00</h1>
    </div>
    <div class="menu-buttons">
        <button class="menu-button" id="start-stop-button">Start</button>
    </div>
</body>
<script src="../../controllers/timer.controller.js"></script>
</html>